/* Nav */
nav{
    background-color: #222222;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
}
nav ul{
    text-align: right;
}
nav li{
    display: inline;
    line-height: 50px;
    padding: 10px;
}
nav li a{
    text-decoration: none;
    color: #aaaaaa;
}
nav li a:hover{
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}
/* Jumbo */
#jumbotron{
    height: 300px;  
    background-color: #aaaaaa;  
    margin: 0;
    padding: 10px 0 0 10px;
    font-size: 5em;
}

/* Content */
/* About Me */
.flexbox{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: rgb(122, 122, 197)
}
.profile{
    background-color: yellow;
}
.profile img{
    width: 100%;
}
.aboutme{
    margin-left: 5%; 
    width: 500px;
    background-color: purple;
 }
/* Work */
.work{
    background-color: rgb(216, 102, 119);
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 0px 10px;
}
/* .featured, .featured-img{
    width: 100%;          
 }
 .featured{
     width: 100%;
 }*/
 .featured-img{
    max-width: 100%;
 } 
.item{
   display: inline-block;
}
.item p{
    line-height: 10px;
}
.item img{
    width: 100%;
}
@media only screen and (max-width: 636px){
    .item{
        margin: 0 auto;
    }
}
/* Contact */
.social{
    height: 50px;
}
.social ul, footer{
    text-align: center;
}
.social li{
    display: inline;  
    margin: 0 10px; 
}
.social li a{
    text-decoration: none;  
}